.services_terms{
	padding-top:150px;
	font-family:roboto;
	font-size:16px;
	font-weight:600px;
	color:;
	padding-bottom:70px;
}

.services_privacy{
	
	
	padding-top:150px;
	font-family:roboto;
	font-size:16px;
	font-weight:600px;
	color:;
	padding-bottom:70px;
	
	
}

